html {
  font-size: 10px;
}

body {
  /* min-height: 100vh; */

  background-color: #222155;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23222155' cx='50' cy='0' r='50'/%3E%3Cg fill='%2327245e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%232d2668' cx='50' cy='100' r='50'/%3E%3Cg fill='%23332871' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23392b7a' cx='50' cy='200' r='50'/%3E%3Cg fill='%23402d84' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23482e8d' cx='50' cy='300' r='50'/%3E%3Cg fill='%23503096' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2359319f' cx='50' cy='400' r='50'/%3E%3Cg fill='%236232a8' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236b33b1' cx='50' cy='500' r='50'/%3E%3Cg fill='%237533ba' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237f32c2' cx='50' cy='600' r='50'/%3E%3Cg fill='%238a32ca' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%239530d3' cx='50' cy='700' r='50'/%3E%3Cg fill='%23a02edb' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ac2be2' cx='50' cy='800' r='50'/%3E%3Cg fill='%23b826ea' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c420f1' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d015f8' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

#root {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
